@import './scss/custom.scss';

/* Other vars */
$headerHeight: 50px;
$footerHeight: 50px;
$navHeight: 56px;

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;

    h1,
    h2,
    h3,
    .display-text {
        font-family: 'Open Sans', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        text-transform: uppercase;
        margin: 1rem 0;
    }

    .App {
        background-color: $light;
        height: 100vh;
        text-align: left;

        a {
            color: $primary;
            padding: 2px;
        }

        a:hover {
            background-color: $primary;
            color: white;
        }

        header {
            background: $darker;
            height: $headerHeight;
            display: flex;
            flex-direction: row;
            align-items: center;

            h2 {
                color: $primary;
                font-size: 2rem;
                font-family: 'Silkscreen', 'Open Sans', sans-serif;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }

        footer {
            background-color: $darker;
            color: $light;
            display: flex;
            justify-content: center;
            height: $footerHeight;
            padding: .75rem 0;
            width: 100%;

            span {
                font-size: 1.25rem;
            }
        }

        nav {
            background-color: $primary;
            height: $navHeight;

            #navbar-toggle {
                margin-left: 0.5rem;
            }

            .nav-item {
                background-color: $primary;
                height: $navHeight;
                text-transform: uppercase;
                vertical-align: middle;

                .nav-link {
                    color: $light;
                    cursor: pointer;
                    padding-top: 1rem;
                    padding-bottom: 1rem;

                    &:hover,
                    &.active {
                        background-color: $secondary;
                        color: $primary;
                    }

                    &.active {
                        border-bottom: 4px solid $dark;
                        padding-bottom: calc(1rem - 4px);
                    }

                    .material-symbols-outlined {
                        margin-right: 0.5rem;
                        vertical-align: bottom;
                    }
                }
            }
        }

        section {
            height: calc(100vh - $headerHeight - $navHeight - $footerHeight);
            overflow-y: auto;
        }

        button#toggle-theme {
            background-color: $light;
            border: none;
            border-radius: 10px;
            color: #030303;
            cursor: pointer;
            height: 34px;
            width: 34px;
            position: absolute;
            top: calc($headerHeight + 12px);
            right: 1rem;
            padding: 5px;
            text-align: center;
        }

        h4 span.material-symbols-outlined {
            font-size: inherit;
            margin: -0.35rem 0.5rem 0 0;
            vertical-align: middle;
        }

        .portfolio-container {
            div.row {
                margin-bottom: 1rem;
            }

            img.thumbnail {
                cursor: pointer;
                max-width: 150px;
                width: 100%;
            }

            .accordion {
                h2.accordion-header {
                    margin: 0;

                    // --bs-accordion-active-bg: #800080;
                    // --bs-accordion-active-color: #CCC;

                    // .accordion-button::after {
                    //     background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
                    // }

                    // .accordion-button.collapsed::after {
                    //     background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
                    // }
                }
            }
        }

        #contact-form {
            position: relative;

            .chameleon {
                position: absolute;
                top: -100000px;
                left: -100000px;
            }
        }

        /** Dark Mode overrides **/
        &.dark-mode {
            background-color: $dark;
            color: $light;

            a {
                color: $lightPurple;
            }

            a:hover {
                background-color: $lightPurple;
                color: $secondary;
            }

            button#toggle-theme {
                background-color: #333;
                color: #efefef;
            }
        }
    }
}

// modals get rendered outside of .App
#portfolio-modal {
    img.screenshot-full {
        align-self: center;
        display: flex;
        height: 100%;
        margin: 0 auto;
    }
}

/** Mobile breakpoints **/
@media (max-width: 767.98px) {
    body {
        .App {
            header {
                h2 {
                    font-size: 1.5rem;
                }

                img {
                    margin-left: 1rem;
                }
            }

            nav {
                .navbar-toggler {
                    border-color: $light;
                    margin-bottom: 0.5rem;
                }

                .nav-item {
                    .nav-link {
                        &.active {
                            border-bottom: none;
                            padding-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}